<h2>Todo List</h2>

<%= link_to 'New',  new_todo_path(@todos) %>
<table>
  <tr>
    <th>Description</th>
    <th>Status</th>
    <th></th>
  </tr>
  <% @todos.each do |todo| %>
    <tr>
      <td><%= todo.description %></td>
      <td><%= check_box_tag todo.status %></td>
      <td><%= link_to 'Destroy', todo_path(todo),
        method: :delete,
        data: { confim: 'Are you sure?' }%>
      </td>
    </tr>
  <% end %>
</table>
